<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CIAO Modena Test Suite">
    
    <listeners>
        <listener class-name="com.modena.listeners.TestListener"/>
        <listener class-name="com.modena.listeners.ExtentReportListener"/>
    </listeners>
    
    <!-- Test dengan 1 thread saja untuk menghindari banyak browser -->
    <test name="Tracking Tests" parallel="false">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.modena.tests.tracking.TrackingTests"/>
        </classes>
    </test>
    
</suite>